<div class="stamp-item">
    <svg viewBox="0 0 247 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>1 (16)</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="5" fill="none" fill-rule="evenodd" transform="rotate(-45 220 90)translate(1.000000, 1.000000)" opacity="0.1">
            <g id="1-(16)" transform="translate(1.000000, 1.000000)">
                <rect id="Rectangle-path" stroke="#D10B10" signer-stroke="true" stroke-width="3" x="0.5" y="0.5" width="260.33" height="66.31" rx="7"></rect>
                <text id="CONFIDENTIAL" fill="#D10B10" signer-fill="true" font-family="Helvetica-Bold, Helvetica" font-size="30" font-weight="bold">
                    <tspan x="15" y="45">CONFIDENTIAL</tspan>
                </text>
            </g>
        </g>
    </svg>
</div>
<div class="stamp-item">
    <svg viewBox="0 0 133 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>1 (1)</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1-(1)" transform="translate(-2.000000, -2.000000)">
                <path d="M17.42,11.5 C14.1504743,11.5 11.5,14.1504743 11.5,17.42 L11.5,44.79 L44.79,11.5 L17.42,11.5 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
                <path d="M119.25,11.5 L91.87,11.5 L125.17,44.79 L125.17,17.42 C125.17,14.1504743 122.519526,11.5 119.25,11.5 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
                <path d="M11.5,119.25 C11.5,122.519526 14.1504743,125.17 17.42,125.17 L44.79,125.17 L11.5,91.87 L11.5,119.25 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
                <path d="M119.25,125.17 C122.519526,125.17 125.17,122.519526 125.17,119.25 L125.17,91.87 L91.87,125.17 L119.25,125.17 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
                <rect id="Rectangle-path" stroke="#1D1D1B" signer-stroke="true" stroke-width="2" transform="translate(68.324786, 68.330000) rotate(-45.000000) translate(-68.324786, -68.330000) " x="20.6747856" y="20.68" width="95.3" height="95.3" rx="4.96"></rect>
                <text id="UPDATED" fill="#1D1D1B" signer-fill="true" font-family="Arial-BoldMT, Arial" font-size="20.7399998" font-weight="bold">
                    <tspan x="19.3712945" y="77">UPDATED</tspan>
                </text>
                <polygon id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero" points="70.35 29.33 68.65 25.9 66.96 29.33 63.17 29.88 65.91 32.55 65.27 36.33 68.65 34.54 72.04 36.33 71.39 32.55 74.13 29.88"></polygon>
                <polygon id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero" points="54.24 34.48 52.35 32.52 51.94 35.22 49.48 36.41 51.92 37.63 52.3 40.34 54.22 38.4 56.91 38.87 55.65 36.45 56.94 34.04"></polygon>
                <polygon id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero" points="84.73 35.22 84.32 32.52 82.42 34.48 79.73 34.04 81.01 36.45 79.75 38.87 82.45 38.4 84.36 40.34 84.74 37.63 87.19 36.41"></polygon>
                <path d="M80.25,105.53 C80.2515212,100.987759 77.6692896,96.8401364 73.5926616,94.8368742 C69.5160336,92.833612 64.6548965,93.3235501 61.06,96.1 L64.86,96.1 L64.86,99.51 C67.3807993,98.0572094 70.5401894,98.3310121 72.7734764,100.195807 C75.0067633,102.060601 75.8397907,105.120467 74.86,107.86 L73.28,106.28 L73.28,113.28 L80.28,113.28 L78.63,111.63 C79.7129159,109.781087 80.2728794,107.672583 80.25,105.53 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
                <path d="M71.81,111.55 C70.7549162,112.168859 69.5531827,112.493465 68.33,112.49 C64.4835472,112.462525 61.3799019,109.336551 61.38,105.49 C61.3818564,104.69881 61.5205682,103.913903 61.79,103.17 L63.37,104.75 L63.37,97.75 L56.42,97.75 L58.07,99.4 C55.0095291,104.323168 55.9382144,110.734806 60.2697822,114.587283 C64.6013499,118.439761 71.0775525,118.613998 75.61,115 L71.81,115 L71.81,111.55 Z" id="Shape" fill="#1D1D1B" signer-fill="true" fill-rule="nonzero"></path>
            </g>
        </g>
    </svg>
</div>
