
                    <div class="modal-body">
                        <p>File accessibility allows you to manage who sees this file.</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Department name</label>
                                    <select class="form-control" name="accessibility">
                                        <option value="Everyone" @if( $file->accessibility == "Everyone" ) selected @endif>Everyone</option>
                                        <option value="Departments" @if( $file->accessibility == "Departments" ) selected @endif>Departments</option>
                                        <option value="Only Me" @if( $file->accessibility == "Only Me" ) selected @endif>Only Me</option>
                                    </select>
                                    <input type="hidden" name="csrf-token" value="<?=csrf_token();?>" />
                                    <input type="hidden" name="fileid" value="{{ $file->id }}" />
                                </div>
                            </div>
                        </div>
                        @if( $file->accessibility == "Departments" )
                        <div class="form-group departments-holder">
                        @else
                        <div class="form-group departments-holder" style="display: none;">
                        @endif
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Select Department </label>
                                    <select class="form-control select22" name="departments[]" multiple="">
                                        @foreach ( $departments as $department )
                                        <option value="{{ $department->id }}" @if( in_array($department->id, $allowedDepartments) ) selected @endif> {{ $department->name }}</option>
                                        @endif
                                    </select>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    <script type="text/javascript">    
                        $('.select22').select2({
                            placeholder: "Select Department"
                        });
                    </script>