
                    <div class="modal-body">
                        <p>Folder protection allows you to secure your folders with a password. Enter <code>remove</code> to remove password.</p>
                        @if( !empty($folder->password) )
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Current Password</label>
                                    <input type="password" class="form-control" name="current" placeholder="Current Password" value=""  required/>
                                </div>
                            </div>
                        </div>
                        @endif
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>New password</label>
                                    <input type="password" class="form-control" name="password" data-parsley-required="true" data-parsley-minlength="6" data-parsley-error-message="Password is too short!" id="newPassword" placeholder="New password">
                                    <input type="hidden" name="csrf-token" value="<?=csrf_token();?>" />
                                    <input type="hidden" name="folderid" value="{{ $folder->id }}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Confirm password</label>
                                    <input type="password" class="form-control" data-parsley-required="true" data-parsley-equalto="#newPassword" data-parsley-error-message="Passwords don't Match!" placeholder="Confirm password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>