                    
                    <div class="modal-body">
                        <p>Update company account info.</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" name="name" value="{{ $company->name }}" placeholder="Company Name" data-parsley-required="true">
                                    <input type="hidden" name="csrf-token" value="{{ csrf_token(); }}" />
                                    <input type="hidden" name="companyid" value="{{ $company->id }}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" name="email" value="{{ $company->email }}" placeholder="Email address" data-parsley-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Phone number</label>
                                    <input type="text" class="form-control" name="phone" value="{{ $company->phone }}" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Reminders</label>
                                    <select class="form-control" name="reminders">
                                        <option value="On" @if( !empty( $company->reminders == "On" ) ) selected @endif >On</option>
                                        <option value="Off" @if( !empty( $company->reminders == "Off" ) ) selected @endif >Off</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>