                    
                    <div class="modal-body">
                        <p>Update customer account info.</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label>First name</label>
                                    <input type="text" class="form-control" name="fname" value="{{ $user->fname }}" placeholder="First name" data-parsley-required="true">
                                    <input type="hidden" name="csrf-token" value="{{ csrf_token(); }}" />
                                    <input type="hidden" name="customerid" value="{{ $user->id }}" />
                                </div>
                                <div class="col-md-6">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" name="lname" value="{{ $user->lname }}" placeholder="Last name" data-parsley-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" name="email" value="{{ $user->email }}" placeholder="Email address" data-parsley-required="true">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone number</label>
                                    <input type="text" class="form-control" name="phone" value="{{ $user->phone }}" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                    <input type="text" class="form-control" name="address" value="{{ $user->address }}" placeholder="Address" data-parsley-required="true">
                                </div>
                                <div class="col-md-6">
                                    <label>Status</label>
                                    <select class="form-control" name="status">
                                        <option value="Active" @if( !empty( $user->status == "Active" ) ) selected @endif >Active</option>
                                        <option value="Inactive" @if( !empty( $user->status == "Inactive" ) ) selected @endif >Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Profile picture</label>
                                    @if( !empty($user->avatar) )
                                    <input type="file" name="avatar" class="croppie" default='{{ url(""); }}uploads/avatar/{{ $user->avatar }}' crop-width="200" crop-height="200" accept="image/*">
                                    @else
                                    <input type="file" name="avatar" class="croppie" default='{{ url(""); }}assets/images/avatar.png' crop-width="200" crop-height="200" accept="image/*">
                                    @endif
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    <script type="text/javascript">
                        croppify();
                    </script>