
                    <div class="modal-body">
                        <p>Fill in customer's details, an email with login details will be sent to user.</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Department name</label>
                                    <input type="text" class="form-control" name="name" value="{{ $department->name }}" placeholder="Department name" data-parsley-required="true">
                                    <input type="hidden" name="csrf-token" value="<?=csrf_token();?>" />
                                    <input type="hidden" name="departmentid" value="{{ $department->id }}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Department Email address</label>
                                    <input type="email" class="form-control" name="email" value="{{ $department->email }}" placeholder="Department Email address" data-parsley-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Select Department Members</label>
                                    <select class="form-control select22" name="members[]" multiple="">
                                        @foreach ( $team as $team )
                                        <option value="{{ $team->id }}" @if( in_array($team->id, $members) ) selected @endif>{{ $team->fname }} {{ $team->lname }}</option>
                                        @endif
                                    </select>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    <script type="text/javascript">    
                        $('.select22').select2({
                            placeholder: "Select Department Members"
                        });
                    </script>